<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cart">


<insert id="addCart" parameterType="Cart">
INSERT INTO "CART" VALUES(#{userId},#{productNo},#{cartAmount},#{sizeName},#{sellerCompany})
</insert>

<select id="cartList" parameterType="String" resultType="Cart">
SELECT * FROM CART WHERE USERID = #{userId}
</select>	



</mapper>
