<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

   <select id="selectProductList" parameterType="int" resultType="Product">
      SELECT * FROM PRODUCT  ORDER BY PRODUCTNO DESC
   </select>
   
   
   <select id="selectProductTotalContents" resultType="int">
      SELECT COUNT(*) FROM PRODUCT
   </select>
   
   <select id="selectList" parameterType="int" resultType="Product">
      SELECT * FROM PRODUCT  ORDER BY PRODUCTNO DESC
   </select>
   
   <select id="selectListTop" parameterType="int" resultType="Product">
      SELECT ROWNUM RN, P.*
      FROM (SELECT * FROM PRODUCT
             ORDER BY PRODUCTCOUNT DESC) P
      WHERE ROWNUM &lt; 5
   </select>
   
   <select id="selectTopList" parameterType="int" resultType="Product">
      SELECT * FROM PRODUCT 
      WHERE CATEGORYNO2 = 1
       ORDER BY PRODUCTNO DESC
   </select>
    
   <select id="selectKnitList" parameterType="int" resultType="Product">
      SELECT * FROM PRODUCT 
      WHERE CATEGORYNO2 = 2
       ORDER BY PRODUCTNO DESC
   </select>
   
   <select id="selectJacketList" parameterType="int" resultType="Product">
      SELECT * FROM PRODUCT 
      WHERE CATEGORYNO2 = 3
       ORDER BY PRODUCTNO DESC
   </select>
   
   <select id="selectSearchList" parameterType="string" resultType="Product">
      SELECT * FROM PRODUCT 
      WHERE  PRODUCTNAME like '%' ||  #{sresult} || '%'
       ORDER BY PRODUCTNO DESC
   </select>
   
   
</mapper>